{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h1 class="my-4">Taxi Service Home</h1>
    <p class="lead">Welcome to Best Taxi Ever!</p>
    <h2 class="my-4">Dynamic content</h2>
    <p class="mb-4">The Taxi service has the following record counts:</p>
    <ul class="list-unstyled">
      <li class="mb-2"><strong>Cars:</strong> {{ num_cars }}</li>
      <li class="mb-2"><strong>Drivers:</strong> {{ num_drivers }}</li>
      <li class="mb-2"><strong>Manufacturers:</strong> {{ num_manufacturers }}</li>
    </ul>
  </div>
{% endblock %}
